.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.659);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: opacity-in 1s ease 0s 1 normal forwards!important;
}

.modal-container{
    width: 500px;
    min-height: 100px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    z-index: 1001;
    box-shadow: none;
    animation: open-in 0.4s ease-in-out 0.5s 1 normal forwards;
    transform: scaleY(0);
}

.modal-top{
    height: 30px;
    
    display: flex;
    justify-content: start;
}
.title{
    color: #3a8cff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.modal-content{
    display: flex;
    flex-direction: column;
}
.input-Title{
    margin-bottom: 0px;
    color: rgb(126, 126, 126);
    margin-left: 5px;
    font-size: 15px;
    font-weight: 700;
  text-transform: uppercase;
}

.changeUsername{
    margin-bottom: 20px;
    border-radius: 7px;
    border: 2px solid #1872f2;
    padding-left: 5px;
    width: 50%;
}

.changeUsername:focus{
    outline: none;
}

.text-area-desc{
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #1872f2;
    
    padding-left: 5px;
}
.text-area-desc:focus{
    outline: none;
}

.modal-bottom{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
}

.cancelButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-top: 30px;
    margin-left: 5px;
    padding: 5px 5px;
    background-color: #c9280c;
    color: #ffF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.confirmButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    margin-top: 30px;
    margin-left: 5px;
    padding: 5px 5px;
    background-color: #19b35c;
    color: #ffF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

@keyframes opacity-in {
	0% {
		opacity: 0.5;
	
	}

	100% {
		opacity: 1;
		
	}
}
@keyframes opacity-out {
	0% {
		opacity: 1;
        
	}

	100% {
		opacity: 0;
		
	}
}
@keyframes open-in {
	0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}
@keyframes close {
	0% {
		transform: scaleY(1);
        
	}

	100% {
		transform: scaleY(0);
        
	}
}

