.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 150px;
    left: 30px;
    margin: auto;
    border: 4px solid white;
    z-index: 997;
}
.btn-changeProfilePic{
    position: absolute;
    top: 150px;
    left: 140px;
    background: #1872f2;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 3px solid white;
    animation: scale-re-appear 0.5s ease 0s 1 normal forwards;
    z-index: 998;
}

.profileUserImgPreview{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 150px;
    left: 30px;
    margin: auto;
    border: 4px solid white;
    z-index: 997;
}
.btn-submit-pp{ 
    opacity: 0;
    position: absolute;
    top: 150px;
    left: 140px;
    background: #0cc95e;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 3px solid white;
    animation: scale-appear 1s ease 0s 1 normal forwards;
    z-index: 999;
}
.btn-cancel-pp{
    opacity: 0;
    position: absolute;
    top: 270px;
    left: 140px;
    background: #c9280c;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 3px solid white;
    animation: scale-appear 1s ease 0s 1 normal forwards;
    z-index: 999;
    
}
.btn-styless{
    border: 0;
    
}



@keyframes scale-appear {
	0% {
		transform: scale(0.3);
        opacity: 0;
	}
    50%{
        opacity: 1;
    }

	100% {
		transform: scale(1);
        opacity: 1;
	}
}
@keyframes scale-re-appear {
	0% {
		transform: scale(0);
        opacity: 0;
	}
    50%{
        opacity: 1;
    }

	100% {
        opacity: 1;
		transform: scale(1);
	}
}
