.btn-changeProfileCover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 230px;
    text-transform: uppercase;
    left: 720px;
    background: #1872f2;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border: 3px solid #3a8cff;
    animation: fade-in 1s ease 0s 1 normal forwards!important;
    z-index: 998;
}
.coverContainer{
   
    position: relative;
    margin: auto;
}
.profileCoverImg{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 250px;

}
.btn-submit{
    position: absolute;
    top: 225px;
    left: 620px;
    background: #19b35c;
    color: white;
    border-radius: 10%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 2.5px solid white;
    animation: fade-in 1s ease 0s 1 normal forwards;
    z-index: 999;
}


.profileCoverImg-preview{
    width: 100%;
    height: 250px;
    position: absolute;
    object-fit: cover;
    
}
.btn-cancel{
    position: absolute;
    top: 225px;
    left: 692px;
    background: #c9280c;
    color: white;
    border-radius: 10%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    cursor: pointer;
    border: 2.5px solid white;
    animation: fade-in 1s ease 0.5s 1 normal forwards;
    z-index: 999;
}

.btn-styless{
    border: 0;
}

.fade-out{
    animation: fade-out 1s ease 0s 1 normal forwards!important;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(50px);
	}
}

@media (min-width : 1500px ) {
    .btn-changeProfileCover{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 230px;
        text-transform: uppercase;
        left: 985px;
        background: #1872f2;
        color: white;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
        border: 3px solid #3a8cff;
        animation: fade-in 1s ease 0s 1 normal forwards!important;
        z-index: 998;
    }
    
}
    
