.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    animation: fade-in 1s ease 0s 1 normal forwards!important;
    opacity: 0;
}

.rightbarInfo{
    margin-bottom: 15px;
}

.rightbarInfoItem1{
    margin-bottom: 10px;
    opacity: 0;
    animation: fade-top 1s ease 0.1s 1 normal forwards!important;
}
.rightbarInfoItem2{
    margin-bottom: 10px;
    opacity: 0;
    animation: fade-top 1s ease 0.2s 1 normal forwards!important;
}
.rightbarInfoItem3{
    margin-bottom: 10px;
    opacity: 0;
    animation: fade-top 1s ease 0.3s 1 normal forwards!important;
}
.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #2c2c2c;
}

.rightbarInfoValue{
    font-weight: 300;
}
.optionsButtons{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.btn-changeInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    text-transform: uppercase;
    background: #1872f2;
    color: white;
    border-radius: 5px;
    width: 20%;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border: 3px solid #3a8cff;
    z-index: 998;
    opacity: 0;
    animation: fade-in 1s ease 0.4s 1 normal forwards!important;
}

.btn-accept{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    background: #19b35c;
    color: white;
    border-radius: 5px;
    width: 20%;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    border: 3px solid white;
    z-index: 998;
    animation: fade-in 1s ease 0s 1 normal forwards!important;
}

.btn-cancel-toggle{
    opacity: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
    background: #c9280c;
    color: white;
    border-radius: 5px;
    width: 22%;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    border: 3px solid white;
    z-index: 998;
    animation: fade-in 1s ease 0.2s 1 normal forwards!important;
}
.fade-out{
    animation: fade-out 1s ease 0.4s 1 normal forwards!important;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(50px);
	}
}

@keyframes fade-top {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.inputInfo{
    margin-bottom: 10px;
    opacity: 0;
    border-radius: 10px;
    border: 1px solid rgb(168, 168, 168);
    padding-left: 10px;
    width: 50%;
    animation: fade-top 1s ease 0s 1 normal forwards!important;
}
.inputInfo2{
    margin-bottom: 10px;
    opacity: 0;
    border-radius: 10px;
    border: 1px solid rgb(168, 168, 168);
    padding-left: 10px;
    width: 50%;
    animation: fade-top 1s ease 0.1s 1 normal forwards!important;
}
.inputSelect{
    opacity: 0;
    border-radius: 10px;
    border: 1px solid rgb(168, 168, 168);
    width: 55%;
    animation: fade-top 1s ease 0.2s 1 normal forwards!important;
    z-index: 999;
    margin-bottom: 20px;
    font-size: 15px;
}
.btn-styless{
    border: 0;
    background-color: transparent;
    color: white;
    margin: 0px;
    padding: 0px;
}

